doctype html
html(lang="en")
  include templates/head.pug
  body

    - const theme = 'dark'
    - const times = ['seconds', 'minutes', 'hours', 'days', 'weeks', 'months', 'years', 'decades', 'centuries', 'millenia']
    - const percent = (1 / times.length) * 100

    include templates/header.pug

    main
      .row
        section.col-9
          .container 
            .row.gy-2.gy-lg-4
              .col-12.col-lg-4.card.pb-2.equation
                .card-body
                  form
                    .input-group.input-group-sm.mb-3
                      span.input-group-text Seconds 
                      input(type="number" min="0" value="0" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default").form-control
                
                .btn.btn-danger.remove &times;

              .col-12.col-lg-2.d-flex.d-lg-grid.gap-lg-1.px-sm-0.px-lg-2.sign
                each oper, index in ['+', '-', 'ร', 'รท']
                  if index === 0
                    .col.mx-1.mx-lg-0.col-lg-12.btn.active(class=`btn-${theme}`) #{oper}
                  else
                    .col.mx-1.mx-lg-0.col-lg-12.btn(class=`btn-${theme}`) #{oper}

              .col-12.col-lg-4.card.pb-2.equation
                .card-body
                  form
                    .input-group.input-group-sm.mb-3
                      span.input-group-text Seconds 
                      input(type="number" min="0" value="0" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default").form-control

                .btn.btn-danger.remove &times;


        include templates/sideList.pug

    footer(class=`bg-${theme} text-center text-white p-2`) Footer

    include templates/resultPage.pug

    include templates/loadingScreen.pug


    script(type="module" src="./js/index.js") 
          
          
